*{
    background-color: rgb(128, 128, 128);   
    margin: 0%;
}


nav{
    text-align: center;
}

nav h1{
    background-color: black;
    margin: 0 0 10px 0;
    padding: 20px;
    color: white;
    font-size: 50px;
}


 
            /*Allgemeine Attribute*/



.mainInhalt{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;    
}

.AppContainer{
    border-radius: 17px;
    margin: 10px;
    padding: 20px 0px 60px 0px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    width: 180px;
    height: 100px;
}

.AppTitle{
    background-color: rgb(94, 94, 94);
    font-size: 28px;
    margin: 0 0 10px 0;
}
.Appimage{
    background-color: rgb(94, 94, 94);
    margin: 0 0 10px 0;
}

.DownloadForm{
    background-color: rgb(94, 94, 94);
    padding: 0 0 10px 0;
    border-radius: 17px;
}

.AppInfo{
    background-color: darkgreen;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: hidden;
}

.DownloadButton{
    border-radius: 10px;
    padding: 8px;
    margin-right: 5px;
    color: white;
    background-color: darkgreen;
    border-style: hidden;
}

.DownloadButton:hover, .AppInfo:hover{
    background-color: rgb(4, 75, 4);    
}

            /*einzelne Apps*/

/*TicTacToe*/



.TicTacToeimage{
    width: 50px;
}



/*Reaction*/

.Reactionimage{
    width: 45px;
    
}
