
body{
    background-color: rgb(128, 128, 128);    
    margin: 0%;
}



nav{
    text-align: center;
}


nav h1{

    background-color: black;
    margin: 0 0 10px 0; 
    padding: 20px;
    color: white;
    font-size: 50px;
}


 
            
/*Android*/


.HeadlineAndroid{
    position: relative;
    display: flex;
    justify-content: center;   
    align-items: center;
    color: white;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin: 20px;
}

.HeadlineAndroid h2{
    margin: 0%;
}
.ImageAndroid{
    height: 45px;
    margin-left: 5px;
}




.AndroidInstallationsanweisungButton{
    background-color: rgb(80,80, 80);
    color: white;
    position: absolute;
    right: 30px;
    border-style: hidden;
    border-radius: 10px;
    padding: 8px;
}






.InhaltAndroid{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;    

}

/*Allgemein*/

.AppContainer{
    
    border-radius: 17px;
    margin: 10px;
    padding: 20px 0px 60px 0px;
    text-align: center;
    background-color: rgb(94, 94, 94);
    width: 190px;
    height: 110px;
}



.AppTitle{
    
    font-size: 28px;
    margin: 0 0 10px 0;
}


.Appimage{
    margin: 0 0 10px 0;

}



.DownloadForm{
    padding: 0 0 10px 0;
    border-radius: 17px;

}



.AppInfo{
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border-style: hidden;

}


.DownloadButton{
    border-radius: 10px;
    padding: 8px;
    color: white;
    background-color: rgb(80,80, 80);
    border-style: hidden;
}



.DownloadButton:hover{
    background-color: rgb(60,60, 60);
}



            

/*einzelne Apps*/




/*TicTacToe*/






.TicTacToeimage{
    width: 50px;
}





/*Reaction*/



.Reactionimage{
    width: 45px;
    
}




/*Random Maschine*/




.RandomMaschinImage{
    
	width: 45px;
	margin: 5px;
	padding: 0px;

}
.RandomMaschinDiv{
    padding: 10px 0px 70px 0px;
}

.RandomMachineTitle{
	margin:0px;
}

/*Schere Stein Papier*/

.ImageSchereSteinPapier{
    width: 50px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding: 0%;
}

.SchereSteinPapierDiv{
    padding: 10px 0px 70px 0px;
}

.SchereSteinPapierTitle{
    margin: 0%;
}

/*SpinTheBottle*/


.SpinTheBottleImage{
    height: 65px;
}






/*Windows*/


.HeadlineWindows{
    display: flex;
    justify-content: center;   
    align-items: center;
    color: white;
    font-size: 25px;
    background-color: black;
    padding: 10px;
    margin: 20px;
}

.HeadlineWindows img{
    width: 40px;
}

.InhaltWindows{
    display: flex;   
    flex-wrap: wrap;
    justify-content: center;    
}


/*ZahlenRaten*/



.ZahlenRatenImage{
    width: 70px;
    margin: 5px 0 5px 0;
}



.ZahlenRatenTitle{
    margin: 0%;
}
















